{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": ["maintained node versions"]
      }
    ]
  ],
  "plugins": [
    "babel-plugin-root-import",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
